
<mat-card>
  <h2>Theme</h2>
  <div class="icon-form-field">
    <mat-icon color="accent"><fa-icon icon="paint-brush" color="accent"></fa-icon></mat-icon>
    <mat-form-field>
      <mat-select placeholder="Color Theme"
               [ngModel]="theme"
               (selectionChange)="onThemeSelect($event)"
               name="themes">
        <mat-option *ngFor="let t of themes" [value]="t.value">
          {{ t.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
