<div class="fluid-container">


<mat-accordion *ngIf="totalCounts">
  <div class="my-3" *ngIf="totalCounts.Xl > 0">
    <div class="my-1">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Extra Large
      </mat-panel-title>
      <mat-panel-description>
        More than 500 threads
      </mat-panel-description>


    </mat-expansion-panel-header>
    <div>
      <mat-checkbox>Senders: {{ totalLengths.Xl }} Threads: {{ totalCounts.Xl }} Size: {{ totalSizes.Xl }} MB</mat-checkbox>
    </div>

    </mat-expansion-panel>
    </div>
  </div>


  <div class="my-3" *ngIf="totalCounts.Lg > 0">
    <div class="my-1">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Large
      </mat-panel-title>
      <mat-panel-description>
        More than 100 threads
      </mat-panel-description>


    </mat-expansion-panel-header>
    <div>
      <mat-checkbox>Senders: {{ totalLengths.Lg }} Threads: {{ totalCounts.Lg }} Size: {{ totalSizes.Lg }} MB</mat-checkbox>
    </div>

    </mat-expansion-panel>
    </div>
  </div>


  <div class="my-3" *ngIf="totalCounts.Md > 0">
    <div class="my-1">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Medium
      </mat-panel-title>
      <mat-panel-description>
        More than 50 threads
      </mat-panel-description>


    </mat-expansion-panel-header>
    <div>
      <mat-checkbox>Senders: {{ totalLengths.Md }} Threads: {{ totalCounts.Md }} Size: {{ totalSizes.Md }} MB</mat-checkbox>
    </div>

    </mat-expansion-panel>
    </div>
  </div>

  <div class="my-3" *ngIf="totalCounts.Sm > 0">
    <div class="my-1">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Small
      </mat-panel-title>
      <mat-panel-description>
        More than 15 threads
      </mat-panel-description>


    </mat-expansion-panel-header>
    <div>
      <mat-checkbox>Senders: {{ totalLengths.Sm }} Threads: {{ totalCounts.Sm }} Size: {{ totalSizes.Sm }} MB}</mat-checkbox>
    </div>

    </mat-expansion-panel>
    </div>
  </div>

  <div class="my-3" *ngIf="totalCounts.Xs > 0">
    <div class="my-1">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Extra Small
      </mat-panel-title>
      <mat-panel-description>
        Less than 15 threads
      </mat-panel-description>


    </mat-expansion-panel-header>
    <div>
      <mat-checkbox>Senders: {{ totalLengths.Xs }} Threads: {{ totalCounts.Xs }} Size: {{ totalSizes.Xs }} MB</mat-checkbox>
    </div>

    </mat-expansion-panel>
    </div>
  </div>

</mat-accordion>


</div>
