
<div>

    <div>
        <form>
            <mat-form-field>
              <input matInput placeholder="Search Addresses" #searchInput>
            </mat-form-field>
          </form>
    </div>

    <span class="d-flex flex-wrap justify-content-center align-items-center">

        <div class="d-md-none">
          Show senders with
        </div>
        <span class="mx-2 d-none d-md-flex">
          Show senders with
        </span>
        <span class="mx-2">
          <mat-form-field>
            <mat-select [placeholder]=""
                        [ngModel]="sizeCutoff$ | async"
                        (selectionChange)="onCutoffSelect($event)"
                        name="Size Cutoffs">
                        <mat-option *ngFor="let t of sizeCutoffs" [value]="t.value">
                          {{ t.label }}
                        </mat-option>
            </mat-select>
          </mat-form-field>
      
        </span>
      </span>


<table mat-table [dataSource]="dataSource" class="mat-table">

   <ng-container matColumnDef="address">
     <th mat-header-cell *matHeaderCellDef>

       <div>
       <span class="icon-handler">
       <mat-checkbox (change)="$event ? masterToggle('delete') : null"
                     [checked]="selectionDelete.hasValue() && isAllSelected('delete')"
                     [indeterminate]="selectionDelete.hasValue() && !isAllSelected('delete')">
                     <span class="icon-handler-2">
                     <fa-icon icon="trash-alt"></fa-icon>
                     </span>
       </mat-checkbox>
       </span>

       <span class="icon-handler">
       <mat-checkbox (change)="$event ? masterToggle('label') : null"
                     [checked]="selectionLabel.hasValue() && isAllSelected('label')"
                     [indeterminate]="selectionLabel.hasValue() && !isAllSelected('label')">
                     <span class="icon-handler-2">
                     <fa-icon icon="tag"></fa-icon>
                     </span>
       </mat-checkbox>
       </span>

       </div>
     </th>

     <td mat-cell *matCellDef="let suggestion">

     <div class="table-data">
       {{suggestion.fromAddress}}
       <div class="count-text">
        <span class="count-text2">
         <span class="icon-handler">

           <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? suggestionToggle('delete', suggestion.senderId) : null"
                [checked]="isSelected('delete',suggestion.senderId)">
                <span class="icon-handler-2">
                  <fa-icon size="1x" icon="trash-alt"></fa-icon>
                </span>
          </mat-checkbox>


       </span>

       <span class="icon-handler">
         <mat-checkbox (click)="$event.stopPropagation()"
                     (change)="$event ? suggestionToggle('label', suggestion.senderId) : null"
                     [checked]="isSelected('label', suggestion.senderId)">

                     <span class="icon-handler-2">
                     <fa-icon size="1x" icon="tag"></fa-icon>
                     </span>

       </mat-checkbox>
       </span>

       <span class="count-text3">
       Size: {{suggestion.totalSizeEstimate}} MB
       </span>

       </span>
       </div>
        </div>
     </td>

   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row
        *matRowDef="let suggestion; columns: displayedColumns;"
        (click)="toggleFromRow(suggestion.senderId)"
        [@removeRow]="myRemoved ? 'add' : 'remove'">
   </tr>
 </table>


</div>

<ng-template #noneLeft>
  <div *ngIf="cutoff$ | async as cutoff">
    There are no suggestions left with at least {{ cutoff }} threads.
  </div>
</ng-template>

<div class="d-flex justify-content-end align-items-center flex-nowrap">
  <span>
    <button mat-raised-button (click)="createTasks()">Create Actions</button>
    <mat-paginator [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons="true">

    </mat-paginator>
  </span>
</div>
