<div class="container h-100">
    <div class="h-100 row align-items-center justify-content-center">
  
      <div class="col-sm">
        <app-login-card></app-login-card>
        <!--         <mat-card class="mat-user-card text-center my-2 mx-1">
          <mat-card-title>
            Welcome...
          </mat-card-title>
        </mat-card> -->
      </div>

    <mat-card class="betaTesters-card">
        <mat-card-content class="betaTesters-content">
          <div>
              If you would like to be a beta tester please email us
          </div>
          <div class="mat-login-divider">
            <mat-divider inset="true"></mat-divider>
          </div>
          <div>
              <a href="mailto:MailboxOrganizer@GMail.com">
              <button mat-mini-fab>
                  <fa-icon icon="envelope"></fa-icon>
              </button>                
              MailboxOrganizer@GMail.com</a>
          </div>
        </mat-card-content>
      </mat-card>

  
  </div>
</div>

