@import '../../../../../styles-variables';


mat-card {
  // max-width: 300px;
  // min-height: 300px;



}

.login-card-container {
  max-width: 400px;
  margin-top: 0px;
}

.login-card {
  max-width: 400px;
  // margin-bottom: 150px;
}


.betaTesters-card {
  margin: 10px;
  max-width: 500px;
}

.betaTesters-content {
  align-content: center;
  text-align: center;
}
