<div class="flex flex-col gap-4 align-middle items-center">
  <div class="max-w-md mt-6 mx-3">
    <app-login-card></app-login-card>
  </div>
  <div class="mb-4 mx-3">
    <mat-card class="max-w-sm align-middle">
      <mat-card-content class="text-center">
        <div>If you would like to be a beta tester please email us</div>
        <div class="mat-login-divider">
          <mat-divider inset="true"></mat-divider>
        </div>
        <div class="my-2">
          <a href="mailto:ZeroInbox.app@Gmail.com">ZeroInbox.app@Gmail.com</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
