@import '../../../../../styles-variables';

h2 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.label-list-item {
  border: solid;
  border-radius: 10px;
}

mat-icon {
  margin: 0 6px 6px 0;
  font-size: 20px;
}

.minus-button {
  width: 5px;
  padding: 0px;
  margin-bottom: 5px;
}

.label-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.label {
  margin-top: 5px;
}