@import '~@angular/material/theming';

@mixin anms-settings-category-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .label-list-item {
    border-color: mat-color($primary) !important;
  }
}