<mat-card>
  <h2>{{ 'app.main.settings.categories.title' | translate }}</h2>
  <div class="" *ngIf="categories$ | async as categories">

    <mat-list class="">
      <mat-list-item *ngFor="let category of categories" class="my-2 label-list-item">
        <span class="w-100 label-item">
          <span class="label">
            <mat-icon color="accent"><fa-icon icon="tag" color="accent"></fa-icon></mat-icon>
            {{ category.name }}
          </span>
          <span>
            <button class="minus-button" mat-stroked-button (click)="removeCategory(category)">
              <fa-icon icon="minus"></fa-icon>
            </button>
          </span>
        </span>
      </mat-list-item>
    </mat-list>

    <button mat-stroked-button (click)="addCategory()">{{ 'app.main.settings.categories.add-category-button' | translate }}</button>
  </div>
</mat-card>