<div class="container text-center">

  <div class="row">
  
    <div class="col-sm">
      <mat-card class="mat-user-card text-center my-2 mx-1">
        <mat-card-title>
          Welcome...
        </mat-card-title>
        <span *ngIf="basic_profile$ | async as basic_profile">
          <img [src]="basic_profile.picture" class="user">
        </span>
        <mat-divider></mat-divider>
        <mat-card-content>
          <span *ngIf="basic_profile$ | async as basic_profile">
            <div>
              {{ basic_profile.name }}
            </div>
          </span>
          <span *ngIf="email_profile$ | async as email_profile">
            <div>
              {{ email_profile.emailAddress }}
            </div>
          </span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm">
      <mat-card class="my-2 mx-1">
        <mat-card-title>
          How To Use
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="content">
            Get up to speed quickly on how to use this app.
          </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/admin-panel/how-to">
            <button mat-stroked-button>
              Go-to
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  <div class="row">

      <div class="col-sm">
          <mat-card class="my-2 mx-1">
            <mat-card-title>
              Senders
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              See who has sent you the most emails, as well as the largest sized ones.  Then
              take actions to get them out of the inbox.  Delete them or have them categorized
              into a label so that they stay out of the inbox.
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a routerLink="/admin-panel/suggestions">
                <button mat-stroked-button>
                    Goto
                </button>
              </a>      
            </mat-card-actions>
          </mat-card>
        </div>




    <div class="col-sm">
      <mat-card class="my-2 mx-1">
        <mat-card-title>
          Subscriptions
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          View all of the email lists that you are subscribed to in one place. Unsubscribe
          in one easy click!
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/admin-panel/subscriptions">
            <button mat-stroked-button>
                Go-to
            </button>         
          </a>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row">

    <div class="col-sm" *ngIf="sendersLoaded$ | async">
      <mat-card class="my-2 mx-1">
        <mat-card-title>
          Stats
        </mat-card-title>
        <mat-divider class="my-2"></mat-divider>
        <mat-card-content>
          <div class="container">
            <div class="row">

              <div class="col-sm">
                Statistics about the current state of your GMail account inbox.
                <mat-divider></mat-divider>
                
                <div class="my-2">
                <mat-chip-list>
                    Threads in your GMail account: 
                  <mat-chip *ngIf="email_profile$ | async as email_profile">
                    <code><b>{{ email_profile.threadsTotal }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                <mat-chip-list>
                    Threads in your inbox: 
                  <mat-chip *ngIf="total_threads$ | async as total_threads">
                    <code><b>{{ total_threads }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="unique_senders$ | async as unique_senders">
                    Unique senders in your inbox: 
                    <mat-chip>
                      <code><b>{{ unique_senders }}</b></code>
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="total_subscriptions$ | async as total_subscriptions">
                    Number of subscriptions in your inbox:   
                  <mat-chip>
                      <code><b>{{ total_subscriptions }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm d-flex justify-content-center">
              
                      <div class="my-2" *ngIf="sg_Tl$ | async as sg_Tl">
                        <app-stats-barchart
                          title="Total Number of Senders x Size Count"
                          type="ColumnChart"
                          [sizes]="sg_Tl"
                          [columnNames]="sizesColumnNames">
                        </app-stats-barchart>
                      </div>
                  </div>

                  <div class="col-sm d-flex justify-content-center">
                      <div class="my-2" *ngIf="cg_Tl$ | async as cg_Tl">
                        <app-stats-barchart
                          title="Total Number of Senders x Thread Count"
                          type="ColumnChart"
                          [sizes]="cg_Tl"
                          [columnNames]="countColumnNames">
                        </app-stats-barchart>
                      </div>
      
                    </div>      
              </div>
             
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

