<div class="container-fluid text-center">

  <div class="row">
  
    <div class="col-sm user-card">
      <app-user-card></app-user-card>
    </div>

    <div class="col-sm">
      <mat-card class="my-2">
        <mat-card-title>
          {{ 'app.admin-panel.home.manual-title' | translate }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="content">
            {{ 'app.admin-panel.home.manual-description' | translate }}
          </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/manual">
            <button mat-stroked-button>
              {{ 'app.admin-panel.home.goto-button' | translate }}
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  <div class="row">

      <div class="col-sm">
          <mat-card class="my-2">
            <mat-card-title>
              {{ 'app.admin-panel.home.senders-title' | translate }}
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              {{ 'app.admin-panel.home.senders-description' | translate }}
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a routerLink="/admin-panel/senders">
                <button mat-stroked-button>
                  {{ 'app.admin-panel.home.goto-button' | translate }}
                </button>
              </a>      
            </mat-card-actions>
          </mat-card>
        </div>




    <div class="col-sm">
      <mat-card class="my-2">
        <mat-card-title>
           {{ 'app.admin-panel.home.subscriptions-title' | translate }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          {{ 'app.admin-panel.home.subscriptions-description' | translate }}
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/admin-panel/subscriptions">
            <button mat-stroked-button>
              {{ 'app.admin-panel.home.goto-button' | translate }}
            </button>         
          </a>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row">

    <div class="col-sm" *ngIf="sendersLoaded$ | async">
      <mat-card class="my-2">
        <mat-card-title>
          {{ 'app.admin-panel.home.stats.title' | translate }}
        </mat-card-title>
        <mat-divider class="my-2"></mat-divider>
        <mat-card-content>
          <div class="container">
            <div class="row">

              <div class="col-sm">
                {{ 'app.admin-panel.home.stats.description' | translate }}
                <mat-divider></mat-divider>
                
                <div class="my-2">
                <mat-chip-list>
                  {{ 'app.admin-panel.home.stats.threads-account' | translate }}
                  <mat-chip *ngIf="email_profile$ | async as email_profile">
                    <code><b>{{ email_profile.threadsTotal }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                <mat-chip-list>
                    {{ 'app.admin-panel.home.stats.threads-inbox' | translate }}
                  <mat-chip *ngIf="total_threads$ | async as total_threads">
                    <code><b>{{ total_threads }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="unique_senders$ | async as unique_senders">
                    {{ 'app.admin-panel.home.stats.unique-senders' | translate }}
                    <mat-chip>
                      <code><b>{{ unique_senders }}</b></code>
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="total_subscriptions$ | async as total_subscriptions">
                    {{ 'app.admin-panel.home.stats.subscriptions-inbox' | translate }}
                  <mat-chip>
                      <code><b>{{ total_subscriptions }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm d-flex justify-content-center">
              
                      <div class="my-2" *ngIf="sg_Tl$ | async as sg_Tl">
                        <app-stats-barchart
                          title="Total Number of Senders x Size Count"
                          type="ColumnChart"
                          [sizes]="sg_Tl"
                          [columnNames]="sizesColumnNames">
                        </app-stats-barchart>
                      </div>
                  </div>

                  <div class="col-sm d-flex justify-content-center">
                      <div class="my-2" *ngIf="cg_Tl$ | async as cg_Tl">
                        <app-stats-barchart
                          title="Total Number of Senders x Thread Count"
                          type="ColumnChart"
                          [sizes]="cg_Tl"
                          [columnNames]="countColumnNames">
                        </app-stats-barchart>
                      </div>
      
                    </div>      
              </div>
             
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

