@import '../../../../../styles-variables';

.user-card {
  margin-top: 8px;
}

mat-card {
  // max-width: 300px;
  // min-height: 300px;

  mat-divider {
    position: relative;
    align-self: center;
  }

  mat-card-title {

    position: relative;
  }


  mat-card-actions {
    button {
      margin: 5px;
    }
  }

  .welcome-card {
    text-align: center;
  }


  .content {
    text-align: center;
  }

  .stats {
    width: 100%;
    position: relative;
    text-align: center;
  }

  mat-card-content {
    mat-chip-list {
      text-align: center;
      position: relative;
    }
  }

  mat-card-footer {
    vertical-align: middle;
  }

}
