<!-- User Card Content -->
<div class="flex flex-col w-full items-center justify-center">
  <div class="mx-6 py-2 min-w-max">
    <app-user-card></app-user-card>
  </div>
  <div class="mb-6">
    <!-- Stats Content -->
    <div class="" *ngIf="sendersLoaded$ | async">
      <mat-card class="my-2">
        <mat-card-title class="text-center">
          {{ 'app.admin-panel.home.stats.title' | translate }}
        </mat-card-title>
        <mat-divider inset="true" class=""></mat-divider>
        <mat-card-content>    
          <div class="px-3 my-3">
            <div class="my-3">
              {{ 'app.admin-panel.home.stats.description' | translate }}
            </div>
            <mat-divider inset="true"></mat-divider> 

            <div class="my-2 flex flex-col">

              <div class="flex flex-col my-2 pl-2">
                <mat-chip-list>
                  {{ 'app.admin-panel.home.stats.threads-account' | translate }}
                  <mat-chip *ngIf="email_profile$ | async as email_profile">
                    <code><b>{{ email_profile.threadsTotal }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                <mat-chip-list>
                    {{ 'app.admin-panel.home.stats.threads-inbox' | translate }}
                  <mat-chip *ngIf="total_threads$ | async as total_threads">
                    <code><b>{{ total_threads }}</b></code>
                  </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="unique_senders$ | async as unique_senders">
                    {{ 'app.admin-panel.home.stats.unique-senders' | translate }}
                    <mat-chip>
                      <code><b>{{ unique_senders }}</b></code>
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="total_subscriptions$ | async as total_subscriptions">
                    {{ 'app.admin-panel.home.stats.subscriptions-inbox' | translate }}
                  <mat-chip>
                      <code><b>{{ total_subscriptions }}</b></code>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <!-- Charts -->
              <div class="flex flex-col items-center sm:flex-row">
                <div class="my-2 sm:mr-2" *ngIf="sg_Tl$ | async as sg_Tl">
                  <app-stats-barchart
                    title="Total Number of Senders x Size Count"
                    type="ColumnChart"
                    [sizes]="sg_Tl"
                    [columnNames]="sizesColumnNames">
                  </app-stats-barchart>
                </div>
  
                <div class="my-2 sm:ml-2" *ngIf="cg_Tl$ | async as cg_Tl">
                  <app-stats-barchart
                    title="Total Number of Senders x Thread Count"
                    type="ColumnChart"
                    [sizes]="cg_Tl"
                    [columnNames]="countColumnNames">
                  </app-stats-barchart>
                </div>
              </div>

            </div>
          </div>
    
              
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>







    <!-- Manual Card -->
    <!-- <div class="">
      <mat-card class="my-2">
        <mat-card-title>
          {{ 'app.admin-panel.home.manual-title' | translate }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="">
            {{ 'app.admin-panel.home.manual-description' | translate }}
          </div>
          <mat-divider></mat-divider>
          <div class="my-2 text-left">
            <ul>
              <li>Downloading</li>
              <li>Statistics</li>
              <li>Subscriptions</li>
              <li>Senders</li>
              <li>Settings</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/manual">
            <button mat-stroked-button>
              {{ 'app.admin-panel.home.goto-button' | translate }}
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
   -->
    <!-- Senders Content -->
    <!-- <div class="">
      <mat-card class="my-2">
        <mat-card-title>
          {{ 'app.admin-panel.home.senders-title' | translate }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          {{ 'app.admin-panel.home.senders-description' | translate }}
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/admin-panel/senders">
            <button mat-stroked-button>
              {{ 'app.admin-panel.home.goto-button' | translate }}
            </button>
          </a>      
        </mat-card-actions>
      </mat-card>
    </div> -->

    <!-- Subscriptions Content -->
    <!-- <div class="">
      <mat-card class="my-2">
        <mat-card-title>
           {{ 'app.admin-panel.home.subscriptions-title' | translate }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          {{ 'app.admin-panel.home.subscriptions-description' | translate }}
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/admin-panel/subscriptions">
            <button mat-stroked-button>
              {{ 'app.admin-panel.home.goto-button' | translate }}
            </button>         
          </a>
        </mat-card-actions>
      </mat-card>
    </div> -->
