<div class="mat-logout-component">
  <mat-dialog-content>
    {{ 'app.admin-panel.senders.trash-dialog.content' | translate }}
    <ul>
      <li>
        {{ sender.fromAddress }}
      </li>
    </ul>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button (click)="cancel()">
      {{ 'app.admin-panel.senders.trash-dialog.cancel-button' | translate }}
    </button>
    <button mat-stroked-button (click)="delete()">
      {{ 'app.admin-panel.senders.trash-dialog.confirm-button' | translate }}
    </button>
  </mat-dialog-actions>
</div>
