<div class="container-fluid">
    <mat-divider></mat-divider>
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Subscriptions">
        <section matSort class="mat-elevation-z2 mat-header-row">
            <span class="mat-header-cell" mat-sort-header="fromName">Name</span>
            <span class="mat-header-cell" mat-sort-header="count">Count</span>
        </section>
        <mat-paginator #paginator 
          [length]="totalRows$ | async"
          [pageSize]="5"
          [pageIndex]="0"
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons="true">
        </mat-paginator>
      
      <mat-accordion>

        <div class="my-3">
          <div class="my-1" *ngFor="let sender of displayedRows$ | async">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
            {{ sender.fromName }}
          </mat-panel-title>

            Threads: {{ sender.count }}

          </mat-expansion-panel-header>
              {{ sender.fromAddress }} {{ sender.count }}
          </mat-expansion-panel>
          </div>
        </div>

      </mat-accordion>

    </mat-tab>

  </mat-tab-group>


    

</div>
