<div class="mat-logout-component">
  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <div>
        <mat-form-field>
          <mat-label>
            {{
              'app.admin-panel.senders.label-all-dialog.category-selector-title'
                | translate
            }}
          </mat-label>
          <mat-select [placeholder]="" formControlName="category">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.value"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>
            {{
              'app.admin-panel.senders.label-all-dialog.label-name-input-title'
                | translate
            }}
          </mat-label>
          <input
            matInput
            placeholder="Label Name"
            #searchInput
            formControlName="labelName"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button (click)="cancel()">
      {{ 'app.admin-panel.senders.label-all-dialog.cancel-button' | translate }}
    </button>
    <button mat-stroked-button [disabled]="!formGroup.valid" (click)="save()">
      {{
        'app.admin-panel.senders.label-all-dialog.confirm-button' | translate
      }}
    </button>
  </mat-dialog-actions>
</div>
