
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div class="example-container" fxFlex="50%">
    <mat-card>
      <mat-card-title>
        Senders Labels
        <span style="align-right">
          <button mat-raised-button color="primary">Add All</button>
        </span>
      </mat-card-title>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        class="example-list"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box-current example-box-senders" *ngFor="let item of todo" cdkDrag>
          <span style="align-left">
              <fa-icon icon='tag' size="lg" style="color: #808DE1; padding-right:10px;" rotate="90"></fa-icon>
              {{item.name}}
          </span>
          <span style="align-right">
            <mat-chip *ngIf="item.senders">
              {{item.sendersCount}}
            </mat-chip>

            <button
              class="edit-button"
              color="primary"
              type="button"
              aria-label="Toggle nav"
              mat-icon-button
              (click)="add(item)">
              <fa-icon icon='plus' style="color: #808DE1;"></fa-icon>
            </button>
          </span>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="example-container" fxFlex="50%">
    <mat-card>
      <mat-card-title>
        Current Labels
        <span style="align-right">
          <button mat-raised-button color="primary">Remove All</button>
        </span>
      </mat-card-title>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]=""
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box-current" *ngFor="let item of done" cdkDrag>
          <span style="align-left">
            <fa-icon icon='tag' size="lg" style="color: #808DE1; padding-right:10px;" rotate="90"></fa-icon>
            {{item.name}}
          </span>
          <span style="align-right">
            <mat-chip *ngIf="item.senders">
              {{item.sendersCount}}
            </mat-chip>
            <button class="edit-button" type="button" aria-label="Toggle nav" mat-icon-button (click)="editName(item)" color="primary">
              <fa-icon icon='edit' style="color: #808DE1;"></fa-icon>
            </button>
            <button class="edit-button" type="button" aria-label="Toggle nav" mat-icon-button (click)="remove(item)" color="primary">
              <fa-icon icon='trash' style="color: #808DE1;"></fa-icon>
            </button>
          </span>
        </div>
      </div>
    </mat-card>
  </div>

</div>
