@use '~@angular/material' as mat;

@mixin anms-subscriptions-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-card-content {
    mat-chip-list {
      text-align: center;
      position: relative;

      mat-chip {
        code {
          background-color: mat.get-color-from-palette($primary);
          color: white;
        }

      }
    }
  }


}
