<div class="flex justify-center items-center text-center">


      <mat-card class="my-2">
        <mat-card-header>
          <mat-card-title>
            About
          </mat-card-title>
          <mat-card-subtitle><i>Technologies Used</i></mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="my-2 max-w-2xl">
          <mat-chip-list>
            <!-- <div mat-card-avatar style="background-image: url('assets/Circle-icons-mail.svg'); background-size: cover;"></div> -->
            <a href="https://nodejs.org"><mat-chip><img src="assets/avatars/node.png" matChipAvatar>node.js</mat-chip></a>
            <a href="https://angular.io"><mat-chip><img src="assets/avatars/angular.png" matChipAvatar>Angular 12</mat-chip></a>
            <a href="https://cloud.google.com/kubernetes-engine"><mat-chip><img src="assets/avatars/gke.png" matChipAvatar>Google Cloud Kubernetes</mat-chip></a>
            <a href="https://www.rabbitmq.com/"><mat-chip><img src="assets/avatars/rabbitmq.png" matChipAvatar>RabbitMQ</mat-chip></a>
            <a href="https://www.mongodb.com/"><mat-chip><img src="assets/avatars/mongodb.png" matChipAvatar>MongoDB</mat-chip></a>
            <a href="https://expressjs.com/"><mat-chip><img src="assets/avatars/expressjs.png" matChipAvatar>Express.js</mat-chip></a>
            <a href="https://www.npmjs.com/"><mat-chip><img src="assets/avatars/npm2.png" matChipAvatar>npm</mat-chip></a>
            <a href="https://git-scm.com/"><mat-chip><img src="assets/avatars/git.png" matChipAvatar>git</mat-chip></a>
            <a href="https://cloud.google.com/"><mat-chip><img src="assets/avatars/googlecloud.png" matChipAvatar>Google Cloud</mat-chip></a>
            <a href="https://tailwindcss.com/"><mat-chip>tailwindcss</mat-chip></a>
            <a href="http://www.ngx-translate.com/"><mat-chip><img src="assets/avatars/ngx-translate.png" matChipAvatar>ngx-translate</mat-chip></a>
            <a href="https://rxjs.dev/"><mat-chip><img src="assets/avatars/rxjs.png" matChipAvatar>rxjs</mat-chip></a>
            <a href="https://ngrx.io/"><mat-chip><img src="assets/avatars/ngrx.png" matChipAvatar>ngrx</mat-chip></a>
            <a href="https://fontawesome.com/"><mat-chip><img src="assets/avatars/fontawesome.png" matChipAvatar>fontawesome</mat-chip></a>
            <a href="https://code.visualstudio.com/"><mat-chip><img src="assets/avatars/vscode.png" matChipAvatar>VSCode</mat-chip></a>
            <a href="https://www.typescriptlang.org/"><mat-chip><img src="assets/avatars/typescript.png" matChipAvatar>Typescript</mat-chip></a>
            <a href="https://www.docker.com/"><mat-chip><img src="assets/avatars/docker.png" matChipAvatar>Docker</mat-chip></a>
            <a href="https://redis.io/"><mat-chip><img src="assets/avatars/redis.png" matChipAvatar>redis</mat-chip></a>
            <a href="https://ubuntu.com/"><mat-chip><img src="assets/avatars/ubuntu.png" matChipAvatar>Ubuntu</mat-chip></a>




            

            

          </mat-chip-list>
        </mat-card-content>
      </mat-card>

      
</div>

