
<div fxLayoutAlign="center center" class="login-card-container">
<mat-card class="login-card">
  <mat-card-header>
    Zero Inbox
  </mat-card-header>
  <mat-divider></mat-divider>
    <mat-card-content>
      Zero Inbox is an attachment to for the Gmail inbox. It will give you
      suggestions for actions that you can select to take on your inbox. You
      can also create and manage new actions and filters that it has yet to
      suggest.
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="signIn()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
</div>
