
<div class="container h-100">
  <div class="h-100 row align-items-center justify-content-center">
    <div class="col login-card-container">
      <mat-card>
        <mat-card-header class="mat-login-header">
          Zero Inbox - Beta
        </mat-card-header>
        <div class="mat-login-divider">
          <mat-divider inset="true"></mat-divider>
        </div>
        <mat-card-content class="mat-login-content">
          This app is in heavy beta development. The site will be up and down during
          this time.  It will also be in a read-only mode, so no actual changes to your
          inbox will occur.  Still if you stumble across this page in the wild and it 
          happens to let you login.  You can get some insights into your Gmail inbox.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button (click)="signIn()" color="primary">Login</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>