<div>

  <span class="d-flex flex-wrap justify-content-center align-items-center">
    <form>
      <mat-form-field>
        <input matInput placeholder="Search Address" #searchInput>
      </mat-form-field>
    </form>
  </span>

  <table mat-table matSort [dataSource]="dataSource" class="mat-table">

    <ng-container matColumnDef="totalSizeEstimate">
      
      <th mat-header-cell *matHeaderCellDef>
        <span class="d-flex justify-content-between align-items-center">
          
          <span class="d-flex">
            <span class="mat-header-cell" mat-sort-header="fromAddress">Sort By Address</span>
          </span>  
             
          <mat-form-field>
            Show senders with
            <mat-select [placeholder]=""
                        [ngModel]="sizeCutoff$ | async"
                        (selectionChange)="onCutoffSelect($event)"
                        name="Size Cutoffs">
              <mat-option *ngFor="let t of sizeCutoffs" [value]="t.value">
                {{ t.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </span>
      </th>

      <td mat-cell *matCellDef="let suggestion">
        <div class="table-data">
          {{suggestion.fromAddress}}
          <div class="count-text">
            <span class="count-text2">
              <span class="icon-handler">
                <button mat-stroked-button (click)="labelSender(suggestion)"><fa-icon icon="tag"></fa-icon></button>
              </span>
              <span class="icon-handler">
                <button mat-stroked-button (click)="deleteSender(suggestion)"><fa-icon icon="trash-alt"></fa-icon></button>
              </span>
              <span class="count-text3">
                {{suggestion.totalSizeEstimate}} MB
              </span>
            </span>
          </div>
        </div>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let suggestion; columns: displayedColumns;"
        [@removeRow]="myRemoved ? 'add' : 'remove'">
    </tr>
  </table>
</div>

<ng-template #noneLeft>
  <div *ngIf="cutoff$ | async as cutoff">
    There are no suggestions left with at least {{ cutoff }} threads.
  </div>
</ng-template>

<!-- Extra small screens -->
<div class="d-none d-xs-block d-sm-none d-flex my-2 align-items-center justify-content-between">
  <button class="mx-2" mat-stroked-button (click)="deleteAll()">Label All</button>
  <button class="mx-2" mat-stroked-button (click)="deleteAll()">Trash All</button>
</div>

<div class="d-xs-block d-sm-none">
  <mat-divider inset="true" class="my-2"></mat-divider>
</div>


<div class="d-none d-flex justify-content-between align-items-center flex-nowrap">
  <!-- Small and larger screens -->
  <div class="d-none d-sm-block">
      <button class="mx-2 my-1" mat-stroked-button (click)="labelAll()">Label All</button>
      <button class="mx-2 my-1" mat-stroked-button (click)="deleteAll()">Trash All</button>
  </div>
  <mat-paginator #paginator
                 [length]="totalRows$ | async"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons="true">
  </mat-paginator>
</div>
