

<!-- <div class="container my-2">
    <div class="row">
     
    </div>
</div> -->

<div class="container text-center">

  <div class="row">
  
    <div class="col-sm">
      <mat-card class="mat-user-card text-center my-2 mx-1">
        <mat-card-title>
          Welcome...
        </mat-card-title>
        <span *ngIf="basic_profile$ | async as basic_profile">
          <img [src]="basic_profile.picture" class="user">
        </span>
        <mat-divider></mat-divider>
        <mat-card-content>
          <span *ngIf="basic_profile$ | async as basic_profile">
            <div>
              {{ basic_profile.name }}
            </div>
          </span>
          <span *ngIf="email_profile$ | async as email_profile">
            <div>
              {{ email_profile.emailAddress }}
            </div>
          </span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm">
      <mat-card class="my-2 mx-1">
        <mat-card-title>
          How To Use
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="content">
            Get up to speed quickly on how to use this app.
          </div>
          <div class="stats">
            <mat-chip-list>
              <mat-chip *ngIf="email_profile$ | async as email_profile">
                <code>Threads: {{ email_profile.threadsTotal }}</code>
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button>
            Go-to
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  <div class="row">

      <div class="col-sm">
          <mat-card class="my-2 mx-1">
            <mat-card-title>
              Senders
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              See who has sent you the most emails, as well as the largest sized ones.  Then
              take actions to get them out of the inbox.  Delete them or have them categorized
              into a label so that they stay out of the inbox.
              <div *ngIf="unique_senders$ | async as unique_senders">
                <mat-chip-list>
                  <mat-chip>
                    <code>Unique Senders: {{ unique_senders }}</code>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>      
              <button mat-stroked-button>
                Goto
              </button>
              <button mat-stroked-button>
                About
              </button>
            </mat-card-actions>
          </mat-card>
        </div>


    <div class="col-sm">
      <mat-card class="my-2 mx-1">
        <mat-card-title>
          Actions
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          Review the actions you have selected to take on your inbox. Then have Zero Inbox go
          to work to take those actions immediately with the single click of a button.
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button>
            Goto
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-sm">
      <mat-card class="my-2 mx-1">
        <mat-card-title>
          Subscriptions
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          View all of the email lists that you are subscribed to in one place. Unsubscribe
          in one easy click!
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a routerLink="/admin-panel/subscriptions">
            <button mat-stroked-button>
                Go-to
            </button>         
          </a>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

