@import '../../../styles-variables';

.wrapper-fluid {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.wrapper {
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  max-width: 400px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  align-self: center;
}

.badge-card {
  width: 200px;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  // border-width: 10px;
  // border-color: black;
  border-radius: 50%;


  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mat-user-card {
  max-width: 500px;
  margin-top: 20px;
  img {
    margin: 10px;
  }
}


mat-card {
  // max-width: 300px;

  mat-divider {
    position: relative;
    align-self: center;
  }

  mat-card-title {

    position: relative;
  }


  mat-card-actions {
    button {
      margin: 5px;
    }
  }

  .welcome-card {
    text-align: center;
  }


  .content {
    text-align: center;
  }

  .stats {
    width: 100%;
    position: relative;
    text-align: center;
  }

  mat-card-content {
    mat-chip-list {
      text-align: center;
      position: relative;
    }
  }

  mat-card-footer {
    vertical-align: middle;
  }

}
