

<div class="my-2" *ngIf="sg_Ts$ | async as sg_Ts">
  <mat-card>
    <app-stats-barchart
      title="Total Size in MB x Size Count"
      type="ColumnChart"
      [sizes]="sg_Ts"
      [columnNames]="sizesColumnNames">
    </app-stats-barchart>
  </mat-card>
</div>

<div class="my-2" *ngIf="sg_Tc$ | async as sg_Tc">
  <mat-card>
    <app-stats-barchart
      title="Total Number of Threads x Size Count"
      type="ColumnChart"
      [sizes]="sg_Tc"
      [columnNames]="sizesColumnNames">
    </app-stats-barchart>
  </mat-card>
</div>

<div class="my-2" *ngIf="sg_Tl$ | async as sg_Tl">
  <mat-card>
    <app-stats-barchart
      title="Total Number of Senders x Size Count"
      type="ColumnChart"
      [sizes]="sg_Tl"
      [columnNames]="sizesColumnNames">
    </app-stats-barchart>
  </mat-card>
</div>

<div class="my-2" *ngIf="cg_Ts$ | async as cg_Ts">
  <mat-card>
    <app-stats-barchart
      title="Total Size in MB x Thread Count"
      type="ColumnChart"
      [sizes]="cg_Ts"
      [columnNames]="countColumnNames">
    </app-stats-barchart>
  </mat-card>
</div>

<div class="my-2" *ngIf="cg_Tc$ | async as cg_Tc">
  <mat-card>
    <app-stats-barchart
      title="Total Number of Threads x Thread Count"
      type="ColumnChart"
      [sizes]="cg_Tc"
      [columnNames]="countColumnNames">
    </app-stats-barchart>
  </mat-card>
</div>

<div class="my-2" *ngIf="cg_Tl$ | async as cg_Tl">
  <mat-card>
    <app-stats-barchart
      title="Total Number of Senders x Thread Count"
      type="ColumnChart"
      [sizes]="cg_Tl"
      [columnNames]="countColumnNames">
    </app-stats-barchart>
  </mat-card>
</div>
