@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-sidenav-container {
  height: 100%;
}

.mat-icon {
  color: #808DE1;
  text-align: center;
}

.mat-nav-list {
  text-align: center;
  vertical-align: middle;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

//.mat-sidenav {
//  vertical-align: middle;
//  display: inline-flex;
//}
