<mat-card class="my-2">
  <mat-card-header>
    <mat-card-title>Zero Rabbit - <i class="italic">Library</i></mat-card-title>
    <!-- <mat-card-subtitle><i>ExpressJS</i></mat-card-subtitle> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="my-3">
    <div class="flex flex-col justify-center w-full">
      <div class="w-full my-2">
        <a href="https://github.com/bensthoughts/zero-rabbit">
          <img
            src="https://res.cloudinary.com/bensthoughts/image/upload/v1629155309/zeroinbox/assets/github-repos/zero-rabbit_jtpqfo.svg"
          />
        </a>
      </div>
      <div class="my-2">
        <mat-divider></mat-divider>
      </div>
      <div class="my-2">
        <p class="text-base text-left">
          &nbsp;&nbsp;&nbsp;&nbsp;Zero Rabbit is a library that I built
          specifically for this project. The alternative options were
          insufficient for my use case. Beyond being a wrapper to the core
          amqplib, it tracks and manages "channels" within the RabbitMQ
          connection. Channels are used for establishing and reading from
          multiple queues over a single connection.
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
