<mat-card class="my-2">
  <mat-card-header>
    <mat-card-title>Front End</mat-card-title>
    <!-- <mat-card-subtitle><i>Angular 12</i></mat-card-subtitle> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="my-3">
    <div class="flex flex-col justify-center w-full">
      <div class="w-full my-2">
        <a href="https://github.com/bensthoughts/zeroinbox-web" target="_blank">
          <img
            src="https://res.cloudinary.com/bensthoughts/image/upload/v1629154780/zeroinbox/assets/github-repos/zeroinbox-web_pqfacj.svg"
          />
        </a>
      </div>
      <div class="my-2">
        <mat-divider></mat-divider>
      </div>
      <div class="my-2">
        <p class="text-base text-left">
          &nbsp;&nbsp;&nbsp;&nbsp;The front end is built using Angular 12.
          Primary libraries used are NgRX, fontawesome, tailwindcss, and RxJS.
          The app is designed to be mobile first and makes heavy use of the MVC
          design pattern. Redux is used as the primary data store and there is
          reactivity built throughout. The site is hosted on Netlify and CI/CD
          workflow is achieved using github.
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
