
<mat-card>
  <mat-card-header class="mat-login-header">
    Zero Inbox - Beta
  </mat-card-header>
  <div class="mat-login-divider">
    <mat-divider inset="true"></mat-divider>
  </div>
  <mat-card-content class="mat-login-content">
    This app is in heavy beta development. The site will be up and down for at least
    the next month. If you stumbled across this page in the wild and the
    login functionality is turned on you can quickly clean up your GMail inbox.
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="signIn()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>