.login-card-container {
  max-width: 400px;
}

.login-card {
  max-width: 400px;
  // margin-bottom: 150px;
}

.mat-login-header {
  margin-bottom: 12px;
}

.mat-login-divider {
  height: 10px;
}

.mat-login-content {
  margin-top: 8px;
}

.mat-login-actions {
  // align-content: flex-end;
  justify-content: flex-end;
}

.betaTesters-card {
  margin: 10px;
}

.betaTesters-content {
  align-content: center;
  text-align: center;
}
