<div class=mat-logout-component>
    <h3 mat-dialog-title>{{ 'app.admin-panel.logout-prompt.title' | translate }}</h3>
 
   <mat-dialog-content>
     {{ 'app.admin-panel.logout-prompt.content' | translate }}
   </mat-dialog-content>
 
   <mat-dialog-actions>
     <button mat-stroked-button (click)="cancel()">
       {{ 'app.admin-panel.logout-prompt.cancel-button' | translate }}
     </button>
     <button mat-stroked-button (click)="confirm()">
       {{ 'app.admin-panel.logout-prompt.confirm-button' | translate }}
     </button>
   </mat-dialog-actions>
 </div>
 