:host {
  display: block;
  width: 100%;
  // height: 100%;
  max-width: 200px;
  // max-height: 120px;
}

.mat-logout-component {
  width: 200px;
  height: 150px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-dialog-title {
  padding: 0px;
}

[mat-button] {
  padding: 10px;
}
