@import '../styles-variables';


.theme-wrapper {
  height: 100%;
  width: 100%;
}


// .toolbar {
//   position: fixed;
//   width: 100%;
//   display: flex;
//   z-index: 10;

mat-toolbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  // height: 50px;

  .spacer {
    flex: 1 1 auto;
  }


    button {
      height: 40px;
      // border-radius: 25%;
      margin-left: 5px;
    }

    .logout {
      height: 40px;

      width: 40px;
      padding-right: 10px;
    }

      .logout-button{

      /*
    height: 40px;
      width: 40px;
      min-width: 40px;
      // padding-right: 30px;
      padding-bottom: 10px;
      border-radius: 50%;    */


      // margin-left: 20px;

      .logout-icon {
        padding-bottom: 31px;
        padding-left: 3px;

      }


  }
}



mat-sidenav-container {
  height: 100%;
  width: 100%;




  .app-nav-list-icon {
    // position: absolute;
    // left: 0px;
    padding-bottom: 7px;
    text-align: center;
  }

  .menu-item-name-sm {
    margin-left: 10px;
  }

  .sidenav-sm {
    position: fixed;
    height: 100%;
    margin-top: 56px;
    // z-index: 999;
  }

  .menu-item-name {
    margin-left: 15px;
  }

  .chevron-button {
    padding-top: 4px;

  }

  .menu-chevron {
    position: fixed;
    left: 9px;
    bottom: 10px;
    z-index: 999;
    // padding-right: 10px;
    // margin-right: 10px;
  }

  .app-sidenav {
    position: fixed;
    margin-top: 56px;

    // position: sticky;
    // left: 100px;
    // top: 100px;
    // left: 50px;
    // background-color: black;
    height: 100%;
    //bottom: 0px;
    // z-index: -10;
  }

  .content {
    // z-index: 1;
  }


  @media (max-width: map-get($grid-breakpoints, md)) {

    .reset-md {
      margin-left: 0px !important;
      height: 100%;
      width: 100%;
      // z-index: 2000;
      // clear: left;
    }

  }

  @media (max-width: $toolbar-breakpoint) {
    .content {
      margin-top: 56px !important;
    }
  }
}


/**
  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .nav-button {
      margin: 0 10px 0 0;
    }

    fa-icon {
      font-size: 24px;
    }


    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      .content {
        flex: 1 0 auto;
        // margin-top: 64px;
        overflow: hidden;
      }

    **/



.menu-item-name {
  padding-left: 10px;
}

.container {
  // justify-content: flex-end;
  // display: inline-flex;
  // margin-top: 75px;
}
