@import '../styles-variables';


.theme-wrapper {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;



  mat-toolbar {
    height: 50px;
  }

  .app-nav-list-icon {
    position: absolute;
    left: 0px;
    padding-bottom: 7px;
    text-align: center;
  }

  .menu-item-name-sm {
    margin-left: 10px;
  }

  .sidenav-sm {
    position: fixed;
    // z-index: 999;
  }

  .menu-item-name {
    margin-left: 15px;
  }

  .chevron-button {
    padding-top: 4px;

  }

  .menu-chevron {
    position: fixed;
    left: 9px;
    bottom: 10px;
    z-index: 999;
    // padding-right: 10px;
    // margin-right: 10px;
  }

  .app-sidenav {
    position: fixed;

    // position: sticky;
    // left: 100px;
    // top: 100px;
    // left: 50px;
    // background-color: black;
    height: 100%;
    bottom: 0px;
    // z-index: -10;
  }

  .content {
    z-index: 1;
  }


  @media (max-width: map-get($grid-breakpoints, md)) {

    .reset-md {
      margin-left: 0px !important;
      height: 100%;
      // clear: left;
    }

  }


  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .nav-button {
      margin: 0 10px 0 0;
    }

    fa-icon {
      font-size: 24px;
    }


    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      .content {
        flex: 1 0 auto;
        // margin-top: 64px;
        overflow: hidden;
      }

      .footer {
        flex: 0 0 auto;
        padding: 0 15px;
        text-align: center;

        .row {
          padding: 10px 0;

          .links {
            a {
              transition: padding 0.5s;
              display: inline-block;
              padding: 20px 5px;

              &:hover {
                text-decoration: none;
              }

              fa-icon {
                font-size: 30px;
                width: 35px;
              }

              span {
                display: inline-block;
                width: 75px;
                padding: 0 0 0 3px;
                overflow: hidden;
                text-align: left;
                white-space: nowrap;
                transition: width 0.5s;
              }
            }

            @media (min-width: map-get($grid-breakpoints, lg)) {
              a {
                padding: 20px 10px;
              }
            }

            @media (max-width: map-get($grid-breakpoints, md)) {

              a {
                padding: 20px;

                span {
                  width: 0;
                  padding: 0;
                }
              }
            }

            @media (max-width: map-get($grid-breakpoints, sm)) {
              a {
                padding: 20px 5px;
              }
            }
          }


        }
      }
    }

    @media (max-width: $toolbar-breakpoint) {
      .content {
        margin-top: 56px !important;
      }
    }
  }
}

.menu-item-name {
  padding-left: 10px;
}

.container {
  // justify-content: flex-end;
  // display: inline-flex;
  margin-top: 75px;
}

/*
mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}*/


/**
mat-toolbar {
  // position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;

  .container {
    justify-content: flex-end;
    display: inline-flex;
    button {
      margin-left: 10px;
      // margin-right: 10px;
    }
  }

}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.theme-wrapper {
  height: 100%;
  width: 100%;
}

.toolbar-buttons {
  align-self: flex-end;
  align-content: flex-end;
}

.app-nav-list-icon {
padding-bottom: 7px;
}

.chevron-button {
  padding-top: 4px;
}

.menu-chevron {
  padding-left: 10px;
}

.go-sidenav-container {
  position: absolute;
  // top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.go-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
//  width: 10px;
}



.mat-icon {
  // color: #808DE1;
  text-align: center;
}
**/
