<div [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-toolbar color="primary">
    <button
      (click)="sidenav.toggle()"
      class="border-2 rounded-md px-2 hover:scale-110 transform transition duration-200">
      <fa-icon icon="bars"></fa-icon>
    </button>
    <span class="pl-2">Zero Inbox</span>
    <span class="flex-auto"></span>
    <a routerLink="/story">
      <button class="items-end" mat-flat-button>
        {{ 'app.component.about-button' | translate }}
      </button>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="wrapper">
    <mat-sidenav
      #sidenav
      (click)="sidenav.toggle()"
      mode="over"
      closed
      role="navigation"
      position="start"
      class="w-3/4 md:w-4/12 lg:w-3/12 xl:w-2/12 max-w-md"
    >
      <mat-nav-list class="w-full">
        <div *ngIf="isBootstrapped$ | async; else preBootstrapMenuMobile" class="w-full">
          <div *ngFor="let auth_menu_item of auth_menu_items" class="w-full">
            <a mat-list-item routerLink="{{ auth_menu_item.route }}" class="w-full">
              <div class="flex flex-row items-center justify-between h-16 w-full">
                <div class="flex items-center justify-center text-center">
                  <mat-icon matListIcon>
                    <fa-icon [icon]="auth_menu_item.icon"></fa-icon>
                  </mat-icon>
                </div>
                <h1 class="ml-2 text-xl">
                  {{ auth_menu_item.name }}
                </h1>
                <div class="flex-shrink"></div>
              </div>
            </a>
          </div>
        </div>

        <a mat-list-item *ngIf="isDownloading$ | async" routerLink="/admin-panel/downloading" class="w-full">
          <div class="flex flex-row items-center justify-between h-16 w-full">
            <div class="flex items-center justify-center text-center">
              <mat-icon matListIcon>
                <fa-icon icon="download"></fa-icon>
              </mat-icon>
            </div>
            <h1 class="ml-2 text-xl">
              {{ 'app.component.download' | translate }}
            </h1>
            <div class="flex-shrink"></div>
          </div>
        </a>

        <!-- <a
          mat-list-item
          *ngIf="isDownloading$ | async"
          routerLink="/admin-panel/downloading"
        >
          <span>
            <mat-icon matListIcon>
              <fa-icon icon="download"></fa-icon>
            </mat-icon>
          </span>
          <span class="ml-2">
            {{ 'app.component.download' | translate }}
          </span>
        </a> -->

        <a mat-list-item (click)="signOut()" *ngIf="isLoggedIn$ | async" class="w-full">
          <div class="flex flex-row items-center justify-between h-16 w-full">
            <div class="flex items-center justify-center text-center">
              <mat-icon matListIcon>
                <fa-icon icon="sign-out-alt"></fa-icon>
              </mat-icon>
            </div>
            <h1 class="ml-2 text-xl">
              {{ 'app.component.logout' | translate }}
            </h1>
            <div class="flex-shrink"></div>
          </div>
        </a>

        <!-- <a mat-list-item (click)="signOut()" *ngIf="isLoggedIn$ | async">
          <span>
            <mat-icon matListIcon>
              <fa-icon icon="sign-out-alt"></fa-icon>
            </mat-icon>
          </span>
          <span class="ml-2">
            {{ 'app.component.logout' | translate }}
          </span>
        </a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="min-h-full">
      <div class="min-h-full -mb-14">
        <router-outlet></router-outlet>
        <div class="h-14"></div>
      </div>
      <div>
        <footer class="h-14 w-full flex flex-row items-center justify-center">
          <div class="items-center">
            <a
              class="mx-2"
              href="https://twitter.com/InboxOrganizer"
              target="_blank"
            >
              <button mat-mini-fab class="mx-2">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
              </button>
            </a>
            <a
              class="mx-2"
              href="https://github.com/BensThoughts"
              target="_blank"
            >
              <button mat-mini-fab class="mx-2">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
              </button>
            </a>
            <a class="mx-2" href="mailto:ZeroInbox.app@Gmail.com">
              <button mat-mini-fab class="mx-2">
                <fa-icon icon="envelope"></fa-icon>
              </button>
            </a>
          </div>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #preBootstrapMenuMobile>
  <div *ngFor="let menu_item of menu_items" class="w-full">
    <a mat-list-item routerLink="{{ menu_item.route }}" class="w-full">
      <div class="flex flex-row items-center justify-between h-16 w-full">
        <div class="flex items-center justify-center text-center">
          <mat-icon matListIcon>
            <fa-icon [icon]="menu_item.icon"></fa-icon>
          </mat-icon>
        </div>
        <h1 class="ml-2 text-xl">
          {{ menu_item.name }}
        </h1>
        <div class="flex-shrink"></div>
      </div>
    </a>
  </div>
</ng-template>

<!-- <ng-template #preBootstrapMenu>
  <a
    mat-list-item
    *ngFor="let menu_item of menu_items"
    routerLink="{{ menu_item.route }}"
  >
    <span>
      <mat-icon matListIcon>
        <fa-icon [icon]="menu_item.icon"></fa-icon>
      </mat-icon>
    </span>
    <span *ngIf="isOpen">
      {{ menu_item.name }}
    </span>
  </a>
</ng-template> -->

<!-- <span *ngIf="isLoggedIn$ | async">
<a (click)="signOut()">
  <button mat-icon-button class="logout-button">
    <mat-icon class="logout-icon" matListIcon>
      <fa-icon icon="sign-out-alt"></fa-icon>
    </mat-icon>
  </button>
</a>
</span> -->

<!-- Only displayed on md or larger screens -->
<!-- <div [@openCloseSidenav]="isOpen ? 'open' : 'closed'" opened class="bg-gray-700 bg-opacity-50 hidden md:min-h-full md:block md:fixed md:left-0">

   <mat-nav-list>

     <div *ngIf="isBootstrapped$ | async; else preBootstrapMenu">
       <a mat-list-item *ngFor="let auth_menu_item of auth_menu_items" routerLink="{{ auth_menu_item.route }}">
         <span  class="pb-1 text-center">
           <mat-icon matListIcon>
             <fa-icon icon="{{ auth_menu_item.icon }}"></fa-icon>
           </mat-icon>
         </span>
         <span *ngIf="isOpen" class="ml-4">
           {{ auth_menu_item.name }}
         </span>
       </a>
     </div>

     <a mat-list-item *ngIf="isDownloading$ | async" routerLink="/admin-panel/downloading">
       <span class="pb-1">
         <mat-icon matListIcon>
           <fa-icon icon="download"></fa-icon>
         </mat-icon>
       </span>
       <span class="ml-4">
         {{ 'app.component.download' | translate }}
       </span>
     </a>

     <a mat-list-item (click)="signOut()" *ngIf="isLoggedIn$ | async">
       <span class="pb-1">
         <mat-icon matListIcon>
           <fa-icon icon="sign-out-alt"></fa-icon>
         </mat-icon>
       </span>
       <span *ngIf="isOpen" class="ml-4">
         {{ 'app.component.logout' | translate }}
       </span>
     </a>

   </mat-nav-list>

 </div> -->

<!-- <div class="hidden md:block md:fixed md:left-2 md:bottom-3 z-50">

 <button [@twirlChevron]="isOpen ? 'left' : 'right'" type="button" aria-label="Toggle nav" mat-icon-button (click)="toggle()">
   <fa-icon size="2x" icon="chevron-circle-left"></fa-icon>
 </button>

</div> -->

<!-- <div [@openCloseSidenavContent]="isOpen ? 'open' : 'closed'" class="left-0 min-h-full block h-full">
</div> -->
