<div [class]="'theme-wrapper ' + (theme$ | async)">

<mat-toolbar class="go-header">
  <mat-toolbar-row>
    <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
      <fa-icon icon="bars"></fa-icon>
    </button>
    <span><img src="./assets/logo.png"></span>
    <span fxLayout="row" fxLayoutAlign="end">
    <button mat-stroked-button>About</button>
    <button mat-stroked-button>FAQ</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="go-sidenav-container">



  <mat-sidenav #sidenav mode="side" opened [@openCloseSidenav]="isOpen ? 'open' : 'closed'" class="go-sidenav" role="navigation">
    <mat-nav-list  class="dashboard" class="mat-sidenav-keep">

      <div *ngIf="isLoggedIn$ | async">
      <a mat-list-item *ngFor="let menu_item of menu_items" routerLink='{{ menu_item.link }}'>
        <span  class="app-nav-list-icon">
          <mat-icon matListIcon>
            <fa-icon icon='{{ menu_item.icon }}' style="color: #808DE1;"></fa-icon>
          </mat-icon>
        </span>
        <span *ngIf="isOpen" style="padding-left: .5em;">
          {{ menu_item.name }}
        </span>
      </a>

      <a mat-list-item (click)="signOut()">
        <span  class="app-nav-list-icon">
          <mat-icon matListIcon class="app-nav-list-icon">
            <fa-icon icon="sign-out-alt"style="color: #808DE1;"></fa-icon>
          </mat-icon>
        </span>
        <span *ngIf="isOpen" style="padding-left: .5em;">
          Logout
        </span>
      </a>
      </div>

    </mat-nav-list>

    <div class="menu-chevron">
      <button [@twirlChevron]="isOpen ? 'left' : 'right'" class="chevron-button" type="button" aria-label="Toggle nav" mat-icon-button (click)="toggle()" color="primary">
        <!-- maybe wrap this in mat-icon -->
        <fa-icon size="2x" icon="chevron-circle-left" style="color: #808DE1;"></fa-icon>
      </button>
    </div>

  </mat-sidenav>

  <mat-sidenav-content [@openCloseSidenavContent]="isOpen ? 'open' : 'closed'">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

</div>
  <!--
    <div [@slideAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  -->
