@import '../styles-variables';

mat-toolbar {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;

  .container {
    justify-content: flex-end;
    display: inline-flex;
    button {
      margin-left: 10px;
      // margin-right: 10px;
    }
  }

}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.theme-wrapper {
  height: 100%;
  width: 100%;
}

.toolbar-buttons {
  align-self: flex-end;
  align-content: flex-end;
}

.app-nav-list-icon {
padding-bottom: 7px;
}

.chevron-button {
  padding-top: 4px;
}

.menu-chevron {
  padding-left: 10px;
}

.go-sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.go-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
//  width: 10px;
}



.mat-icon {
  // color: #808DE1;
  text-align: center;
}
