@import '~@angular/material/theming';

@mixin anms-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);


  .go-header {
    // color: mat-color($primary) !important;
  }


  /**app-bar {
    color: mat-color($primary);
  }**/


  mat-toolbar {
    mat-icon {
      color: mat-color($primary, lighter);
    }
    background-color: mat-color($primary);
  }


  mat-sidenav-container {

    .app-sidenav {
      background-color: mat-color($primary);
    }

    mat-sidenav {

      // background-color: #90a4ae !important;

      .menu-chevron {
        color: mat-color($primary, lighter);
      }

      mat-icon {
        color: mat-color($primary, lighter);
      }

      .mat-list-item {
        color: mat-color($primary, lighter);
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent) !important;

          &:hover {
            background-color: mat-color($accent, darker) !important;
          }
        }
      }

    }

    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary);

      .links,
      .signature {
        a {
          color: mat-color($primary, lighter);
          &:hover {
            color: mat-color($accent);
          }
        }
      }
    }
  }

  .chevron-button {
    color: mat-color($accent);
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }
}
