@use '~@angular/material' as mat;

$app-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 800);
$app-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$app-black-warn: mat.define-palette(mat.$red-palette, 500);

@function create-dark-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  );
}

$app-black-theme: mat.define-dark-theme(
  $app-black-primary,
  $app-black-accent,
  $app-black-warn
);
