@use '~@angular/material' as mat;
$app-primary: mat.define-palette(mat.$blue-palette, 500, 300, 900);
$app-accent: mat.define-palette(mat.$light-blue-palette);
$app-warn: mat.define-palette(mat.$pink-palette, 600);

$app-default-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);
