@use '~@angular/material' as mat;
$go-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$go-light-accent: mat.define-palette(mat.$brown-palette, 200);
$go-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);


$go-light-theme-background: (
  status-bar: green,
  app-bar:    map_get(mat.$blue-palette, 300),
  background: map_get(mat.$grey-palette, 500),
  hover:      rgba(white, 0.04),
  card:       map_get(mat.$blue-palette, 300),
  dialog:     map_get(mat.$grey-palette, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get(mat.$grey-palette, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get(mat.$grey-palette, 900),
  selected-disabled-button: map_get(mat.$grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get(mat.$grey-palette, 700),
  disabled-list-option: black,
);

$go-light-theme-foreground: (
  base:              yellow,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              yellow,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

@function create-light-theme($primary, $accent, $warn: mat.define-palette(mat.$red-palette)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $go-light-theme-foreground,
    background: $go-light-theme-background,
  );
}

$go-light-theme: create-light-theme(
  $go-light-primary,
  $go-light-accent,
  $go-light-warn
);
