<div class="flex flex-col items-center justify-center">
  <div class="my-6">
    <app-user-card></app-user-card>
  </div>

  <div class="my-3 mx-5">
    <mat-card>
      <mat-card-title>Loading...</mat-card-title>
      <mat-card-subtitle>
        It looks like this is the first time you have ever used Zero Inbox.
        Please wait while we download the meta-data from your inbox.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="determinate" [value]="percentLoaded$ | async">
        </mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
