
<div>


  <span class="d-flex flex-wrap justify-content-center align-items-center">
    <form>
      <mat-form-field>
        <input matInput placeholder="Search Address" #searchInput>
      </mat-form-field>
    </form>
  </span>




<table mat-table matSort [dataSource]="dataSource" class="mat-table">

   <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>
        <div class="d-flex justify-content-between align-items-center">

    
          <span class="d-flex">
            <span class="mat-header-cell" mat-sort-header="fromAddress">Sort By Address</span>
          </span>
        
          </div>
      </th>

     <td mat-cell *matCellDef="let suggestion">

     <div class="table-data">
       {{suggestion.fromAddress}}
       <div class="count-text">
        <span class="count-text2">

       <span class="icon-handler">
         <mat-checkbox (click)="$event.stopPropagation()"
                     (change)="$event ? filterToggle(suggestion.senderId) : null"
                     [checked]="isSelected(suggestion.senderId)">

                     <span class="icon-handler-2">
                      <fa-icon size="1x" icon="filter"></fa-icon>
                     </span>

       </mat-checkbox>
       </span>

       <span class="count-text3" *ngFor="let labelName of suggestion.labelNames">
        <a (click)="editLabel(suggestion, labelName)">
            <span class="icon-handler-2">
                <fa-icon icon="tag"></fa-icon>
              </span>
              {{ labelName }}
        </a>

       </span>

       </span>
       </div>
        </div>
     </td>
    </ng-container>

     <ng-container matColumnDef="select-all-row">
      <th mat-header-cell *matHeaderCellDef>
        <span class="d-flex justify-content-between align-items-center">
                <span class="icon-handler">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selectionFilter.hasValue() && isAllSelected()"
                                  [indeterminate]="selectionFilter.hasValue() && !isAllSelected()">
                                  <span class="icon-handler-2">
                                  <fa-icon icon="filter"></fa-icon>
                                  </span>
                    </mat-checkbox>
                    </span>
           
            <button mat-stroked-button (click)="createActions()">Apply Actions</button>
        </span>
      
      </th>
     </ng-container>


   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-header-row *matHeaderRowDef="['select-all-row']"></tr>
   <tr mat-row
        *matRowDef="let suggestion; columns: displayedColumns;"
        [@removeRow]="myRemoved ? 'add' : 'remove'">
   </tr>
 </table>


</div>


<div class="d-none d-flex justify-content-between align-items-center flex-nowrap">
  <span class="d-none d-md-block">
      <button class="text-left" mat-stroked-button (click)="createActions()">Apply Actions</button>
  </span>
    <mat-paginator #paginator
                   [length]="totalRows$ | async"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons="true">
    </mat-paginator>
</div>
