
<div>


  <span class="d-flex flex-wrap justify-content-center align-items-center">
    <form>
      <mat-form-field>
        <input matInput placeholder="Search Address" #searchInput>
      </mat-form-field>
    </form>
  </span>


  <button mat-stroked-button (click)="createActions()">Delete All</button>
  <button mat-stroked-button (click)="createActions()"><fa-icon icon="tag"></fa-icon></button>
  <button mat-stroked-button (click)="createActions()"><fa-icon icon="trash-alt"></fa-icon></button>



<table mat-table matSort [dataSource]="dataSource" class="mat-table">

    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fromAddress">Address</th>

        <td mat-cell *matCellDef="let suggestion">
            {{suggestion.fromAddress}}
            Threads: {{ suggestion.count }}
        </td>
    </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [@removeRow]="myRemoved ? 'add' : 'remove'">
   </tr>
 </table>


</div>

<ng-template #noneLeft>
  <div *ngIf="cutoff$ | async as cutoff">
    Congratulations, your inbox is now clear of messages :-).
  </div>
</ng-template>


<div class="d-none d-flex justify-content-end align-items-center flex-nowrap">
    <mat-paginator #paginator
                   [length]="totalRows$ | async"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons="true">
    </mat-paginator>
</div>
