<mat-card class="my-2">
  <mat-card-header>
    <mat-card-title>
      Batch Messages - <i class="italic">Service</i>
    </mat-card-title>
    <!-- <mat-card-subtitle><i>ExpressJS</i></mat-card-subtitle> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="my-3">
    <div class="flex flex-col justify-center w-full">
      <div class="w-full my-2">
        <a
          href="https://github.com/bensthoughts/zeroinbox-batch-messages-controller"
          target="_blank"
        >
          <img
            src="https://res.cloudinary.com/bensthoughts/image/upload/v1629154852/zeroinbox/assets/github-repos/zeroinbox-batch-messages-controller_zttcfa.svg"
          />
        </a>
      </div>
      <div class="my-2">
        <mat-divider></mat-divider>
      </div>
      <div class="my-2">
        <p class="text-base text-left">
          &nbsp;&nbsp;&nbsp;&nbsp;The Batch Messages Controller receives
          instructions from the Message Ids service via RabbitMQ anytime message
          content needs to be downloaded. On a users first login often 10s of
          thousands of messages need to be fetched and stored in MongoDB. The
          Batch service fetches the metadata for the messages in large chunks
          using batch http calls to the Gmail API.
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
