@import '../../../../../styles-variables';


.manual-image {
  width: 201px;
  height: 313px;
}

.manual-steps-list {
  text-align: left
}

.test {
  align-content: center;
  justify-content: center;
}