<div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

<!--
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="100%">
-->
<div class="go-labels-input">
      <mat-card>
        <go-labels-input>
        </go-labels-input>
      </mat-card>
</div>
<!--
    </div>
  </div>
-->
<!--
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="100%">
-->
<div class="go-labels-list">
  <mat-card>
    <go-labels-list [labelsList]="gmail_labels$ | async">
    </go-labels-list>
  </mat-card>
</div>
<!--
  </div>
</div>
-->


</div>

<!--
  <go-labels-list [labelsList]="gmail_labels"></go-labels-list>
<mat-card>
  <mat-card-title>
    Your suggested labels
  </mat-card-title>
  <go-labels-list [labelsList]="labels"></go-labels-list>
</mat-card>
-->
