
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <div class="example-container" fxFlex="90%">
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let label of labels"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(label)">
        {{label}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New label..."
        #labelInput
        [formControl]="labelCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
        {{label}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  </div>
  <div class="example-container" fxFlex="10%">
  <button mat-raised-button (click)="addLabelsToStore()" color="primary">Add</button>
  </div>
</div>
