<div class="flex flex-col w-full items-center justify-center">
  <mat-card class="max-w-2xl mt-5 w-full">
    <mat-card-title>Contact</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>
        <div class="border-gray-500 border-2 rounded-md p-3 mt-2">
          Personal Email:
          <a href="mailto:bensthoughts@gmail.com">
            &nbsp;&nbsp;BensThoughts@Gmail.com
          </a>
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          App Email:
          <a href="mailto:zeroinbox.app@gmail.com">
            &nbsp;&nbsp;ZeroInbox.app@Gmail.com
          </a>
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          App Twitter:
          <a href="https://twitter.com/InboxOrganizer" target="_blank">
            &nbsp;&nbsp;twitter.com/InboxOrganizer
          </a>
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          Github:
          <a href="https://github.com/BensThoughts" target="_blank">
            &nbsp;&nbsp;github.com/BensThoughts
          </a>
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          LinkedIn:
          <a
            href="https://www.linkedin.com/in/benjaminblumenfeldjones/"
            target="_blank"
          >
            &nbsp;&nbsp;linkedin.com/in/benjaminbjones/
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
