<div class="flex flex-col w-full items-center justify-center">
  <mat-card class="max-w-2xl mt-5 w-full">
    <mat-card-title>Contact</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>
        <div class="border-gray-500 border-2 rounded-md p-3 mt-2">
          Personal Email: BensThoughts@Gmail.Com
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          App Email: ZeroInbox.app@Gmail.Com
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          Github: https://github.com/BensThoughts
        </div>
        <div class="border-gray-500 border-2 rounded-md p-3 my-2">
          LinkedIn: https://www.linkedin.com/in/benjaminblumenfeldjones/
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
