/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

@import 'styles-variables';
@import 'styles-reset';

// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

@import '../node_modules/@angular/material/theming';
@include mat.core();

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import './themes/black-theme.scss';
@import './themes/default-theme.scss';

@import './app/app.component.scss-theme.scss';
@import './app/main/settings/components/categories/categories.component.scss-theme.scss';

.default-theme {
  @include mat.all-component-themes($app-default-theme);
  @include app-component-theme($app-default-theme);
  @include app-categories-component-theme($app-default-theme);
}

.black-theme {
  @include mat.all-component-themes($app-black-theme);
  @include app-component-theme($app-black-theme);
  @include app-categories-component-theme($app-black-theme);
}

.center-snackbar {
  margin: auto;
  text-align: center !important;
}

@mixin app-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  a {
    color: mat.get-color-from-palette($foreground, text);

    &:hover {
      color: mat.get-color-from-palette($accent);
    }
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
