.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  // border-width: 10px;
  // border-color: black;
  margin-bottom: 10px;
  border-radius: 50%;


  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}