

<div >
  <div class="container-fluid my-4">
    <div class="row" *ngIf="suggestionsLoaded$ | async; else loading">
      <div class="col mx-0 px-0">

      Label By

    <mat-divider></mat-divider>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Name">
        <mat-card class="my-2">
        <go-suggestions-table></go-suggestions-table>
        </mat-card>
      </mat-tab>
      <mat-tab label="Size">
        <!--          <go-suggestions-table></go-suggestions-table>         -->
        <mat-card class="my-2">
        <go-suggestions-size-table></go-suggestions-size-table>
        </mat-card>
        
      </mat-tab>

      <mat-tab label="Count">

        <div *ngIf="totalCounts$ | async as totalCounts">
        <iz-suggestions-by-size phrase="Total Threads: " postPhrase="" [totalSizes]="totalCounts"></iz-suggestions-by-size>
        </div>

      </mat-tab>



    </mat-tab-group>

</div>




</div>

<ng-template #loading>
  <div class="loading-container" fxLayoutAlign="center center">
    <mat-spinner [strokeWidth]="7"></mat-spinner>
  </div>
</ng-template>

</div>
</div>
