

<div *ngIf="sendersLoaded$ | async; else loading">
  <div class="clear-bottom">
  <mat-card>
    <mat-card-title>
      Sort By
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Address">
        <div>
        <go-suggestions-table [myData]="suggestions$ | async"></go-suggestions-table>
        </div>
      </mat-tab>
      <mat-tab label="Size">
        <!--          <go-suggestions-table></go-suggestions-table>         -->

      </mat-tab>

    </mat-tab-group>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>

<!--
<div *ngIf="(sendersLessThanCount$ | async) > 1">
  <mat-card>
    <mat-card-title>
      Label/Categorize Senders By Minimum Thread Count
    </mat-card-title>
    <mat-card-subtitle>
      Note: Will not label senders that have been selected for deletion.
    </mat-card-subtitle>
    <app-suggestions-less [count]="sendersLessThanCount$ | async" [cutoff]="cutoff$ | async"></app-suggestions-less>
  </mat-card>
</div>  -->


<ng-template #loading>
  <div class="loading-container" fxLayoutAlign="center center">
    <mat-spinner [strokeWidth]="7"></mat-spinner>
  </div>
</ng-template>
</div>
