

<div class="h-100">
  <div class="container-fluid h-100 my-4">
    <div class="row" *ngIf="suggestionsLoaded$ | async; else loading">
      <div class="col mx-0 px-0">

      Label By

    <mat-divider></mat-divider>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Name">
        <mat-card class="my-2">
        <app-count-suggestions-table></app-count-suggestions-table>
        </mat-card>
      </mat-tab>
      <mat-tab label="Size">
        <!--          <go-suggestions-table></go-suggestions-table>         -->
        <mat-card class="my-2">
        <go-suggestions-size-table></go-suggestions-size-table>
        </mat-card>

      </mat-tab>

      <mat-tab label="Count">

<!--         <div *ngIf="totalCounts$ | async as totalCounts">
        <app-suggestions-by-group
                [totalCounts]="totalCounts"
                [totalLengths]="totalLengths$ | async"
                [totalSizes]="totalSizes$ | async">
        </app-suggestions-by-group>
        </div> -->

      </mat-tab>



    </mat-tab-group>

</div>




</div>

<ng-template #loading>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <mat-spinner [strokeWidth]="7"></mat-spinner>
    </div>
  </div>
</ng-template>

</div>
</div>
