<div class=mat-logout-component>
  
  <mat-dialog-content>

        <form *ngFor="let labelName of labelNames$ | async">
            <mat-form-field>
              <input matInput placeholder="Label Name" [value]="labelName" #searchInput>
            </mat-form-field>
<!--             <button mat-stroked-button (click)="addLabel()"><fa-icon icon="minus"></fa-icon></button>
 -->          </form>

  </mat-dialog-content>

  <mat-dialog-actions>
<!--     <button mat-stroked-button (click)="addLabel()"><fa-icon icon="plus"></fa-icon></button>
 -->    <button mat-stroked-button (click)="cancel()">
      Cancel
    </button>
    <button mat-stroked-button (click)="save()">
      Label
    </button>
  </mat-dialog-actions>

</div>