<div class=mat-logout-component>
  
  <mat-dialog-content>


          <div>
              <mat-form-field>
                  <mat-label>Category</mat-label>
                    <mat-select [placeholder]=""
                                [ngModel]="defaultCategory"
                                (selectionChange)="onCategorySelect($event)">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                          {{ category.name }}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
          </div>
          <div>
              <mat-form-field>
                <mat-label>Label Name</mat-label>
                <input matInput placeholder="Label Name" 
                                [value]="sender.labelNames[0]" #searchInput
                                [formControl]="name">

              </mat-form-field>
          </div>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button (click)="cancel()">
      Cancel
    </button>
    <button mat-stroked-button (click)="save()">
      Label
    </button>
  </mat-dialog-actions>

</div>